@model TimeGo.Web.Mvc.Areas.Admin.Models.CompanyTableViewModel
@using TimeGo;
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = Resource.ManageCompanies;
}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1>@Resource.ManageCompanies</h1>
            <div class="card-group mb-0">
                <div class="card p-4">
                    <div class="card-block">
                        <table class="table table-bordered table-striped table-condensed">
                            <thead>
                                <tr>
                                    <td>
                                        @Resource.CompanyName
                                        <a class="icon-arrow-down" href="@Url.Action("Index", new { sortBy = "CompanyName", ascending = Model.SortOrder("CompanyName"), page = Model.CurrentPage })"></a>
                                    </td>

                                    <td>
                                        @Resource.Contact
                                        <a class="icon-arrow-down" href="@Url.Action("Index", new { sortBy = "ContactName", ascending = Model.SortOrder("ContactName"), page = Model.CurrentPage })"></a>
                                    </td>

                                    <td>
                                        @Resource.Email
                                        <a class="icon-arrow-down" href="@Url.Action("Index", new { sortBy = "EmailAddress", ascending = Model.SortOrder("EmailAddress"), page = Model.CurrentPage })"></a>
                                    </td>

                                    <td>
                                        @Resource.PhoneNumber
                                        <a class="icon-arrow-down" href="@Url.Action("Index", new { sortBy = "PhoneNumber", ascending = Model.SortOrder("PhoneNumber"), page = Model.CurrentPage })"></a>
                                    </td>

                                    <td>
                                        @Resource.CompanyURL
                                        <a class="icon-arrow-down" href="@Url.Action("Index", new { sortBy = "TimeGoUrl", ascending = Model.SortOrder("TimeGoUrl"), page = Model.CurrentPage })"></a>
                                    </td>

                                    <td>
                                        @Resource.PlanType
                                        <a class="icon-arrow-down" href="@Url.Action("Index", new { sortBy = "SubscriptionPlanId", ascending = Model.SortOrder("SubscriptionPlanId"), page = Model.CurrentPage })"></a>
                                    </td>

                                    <td>
                                        @Resource.WeekStart
                                        <a class="icon-arrow-down" href="@Url.Action("Index", new { sortBy = "WorkweekStaryDay", ascending = Model.SortOrder("WorkweekStaryDay"), page = Model.CurrentPage })"></a>
                                    </td>
                                    <td>@Resource.Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.Companies.Count(); i++)
                                {
                                    <tr data-url="@Url.Action("Index", new { idCompany = Model.Companies[i].Id, sortBy = Model.SortBy, ascending = Model.IsAscending })">
                                        <td>@Model.Companies[i].CompanyName</td>
                                        <td>@Model.Companies[i].ContactName</td>
                                        <td>@Model.Companies[i].EmailAddress</td>
                                        <td>@Model.Companies[i].PhoneNumber</td>
                                        <td>@Model.Companies[i].TimeGoUrl</td>
                                        <td>@Model.Companies[i].SubscriptionPlanId</td>
                                        <td>@Model.Companies[i].WorkweekStaryDay</td>
                                        <td>
                                            <a href="javascript:void(0);" class="fa fa-edit editCompany" data-id="@Model.Companies[i].Id"></a>
                                            @*<a href="@Url.Action("EditCompany", "Company", new { id = Model.Companies[i].Id })" class="modal-link" title="edit" data-target="#modal-container" data-toggle="modal">edit</a>*@
                                            <a href="@Url.Action("DeleteCompany", "Company", new {id = Model.Companies[i].Id})" class="fa fa-remove" title="delete"></a>
                                        </td>
                                        @Html.HiddenFor(x => x.Companies[i].Id)
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div id='myModal' class='modal'>
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div id='myModalContent'></div>
                                </div>
                            </div>

                        </div>
                        <nav>
                            <ul class="pagination">
                                @if (Model.CountPages > 1)
                                {
                                    if (Model.CurrentPage != 0)
                                    {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", new { sortBy = Model.SortBy, ascending = Model.IsAscending, page = Model.CurrentPage - 1 })">Prev</a>
                                </li>
                                    }
                                    for (var i = 0; i < Model.CountPages; i++)
                                    {
                                        if (i == Model.CurrentPage)
                                        {
                                <li class="page-item active">
                                    <a class="page-link" href="@Url.Action("Index", new { sortBy = Model.SortBy, ascending = Model.IsAscending, page = i })">@(i + 1) </a>
                                </li>
                                        }
                                        else
                                        {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", new { sortBy = Model.SortBy, ascending = Model.IsAscending, page = i })">@(i + 1)</a>
                                </li>
                                        }
                                    }
                                    if (Model.CurrentPage < Model.CountPages)
                                    {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", new { sortBy = Model.SortBy, ascending = Model.IsAscending, page = Model.CurrentPage + 1 })">Next</a>
                                </li>
                                    }
                                }
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        var EditURL = 'root/Company/EditCompany';
        $(function () {
            $(".editCompany").click(function () {
                debugger;
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                var options = { "backdrop": "static", keyboard: true };
                $.ajax({
                    type: "GET",
                    url: EditURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal(options);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
            //$("#closebtn").on('click',function(){
            //    $('#myModal').modal('hide');

            $("#closbtn").click(function () {
                $('#myModal').modal('hide');
            });
        });

</script>  
    }