@using TimeGo.Models
@model AdminViewModel
@{
    ViewBag.Title = "Admin Home";
}

<style>
    .date {width: 70px;}

    .single-line input, .single-line button {
        display: inline-block
    }

    .single-line button { width: auto;}
</style>

<h1>@Model.CompanyName</h1>

<h3>Admin</h3>

<div class="row single-line">
    Pick a start date <input Class = "date form-control" /> and end date <input Class = "date form-control" /> <button Class = "form-control">Export Timesheet</button>
</div>
<h3>Go to:</h3>

<ul>
    <li><a href="admintime">Review or Edit Timesheets</a></li>
    <li><a href="admintimeoff">Manage Vacation Requests</a>
    @if (Model.NumberOfTimeoffRequests > 0) {
        <span class="badge badge-error">@Html.DisplayFor(m=>m.NumberOfTimeoffRequests)</span>
    }
    </li>
    <li><a href="AdminPeriods">Manage Timesheet Periods</a></li>
    <li><a href="AdminUsers">Manage Users</a></li>
    <li><a href="AdminRates">Manage User Rates</a></li>
    <li><a href="AdminCodes">Manage Tasks</a></li>
    <li><a href="AdminAllowedCodes">Manage allowed Tasks for Users</a></li>
    <li><a href="timeoff">Manage Subscription</a></li>
    <li><a href="time">Timesheets</a></li>
    <li><a href="timeoff">Timeoff Requests</a></li>
   
    <li style="margin-top: 10px;"><a href="TimesheetSubmissionEmail">Timesheet Submission Email</a></li>
</ul>

@if (Model.RoleId == 2) {
<br /><br />

<h3>Company Options</h3>

using (Html.BeginForm("admin", Model.CompanyURL, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
        <div class="row">
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1" class="col-sm-4">Company Name</label>
                @Html.TextBoxFor(m => m.CompanyName, new { Class = "form-control" })
                @Html.ValidationMessageFor(m => m.CompanyName, "", new { @class = "text-danger col-xs-7" })
            </div>

            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1" class="col-sm-4">Contact Name</label>
                @Html.TextBoxFor(m => m.ContactName, new { Class = "form-control" })
                @Html.ValidationMessageFor(m => m.ContactName, "", new { @class = "text-danger col-xs-7" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1" class="col-sm-4">Phone Number</label>
                @Html.TextBoxFor(m => m.PhoneNumber, new { Class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger col-xs-7" })
            </div>

            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1" class="col-sm-4">Email</label>
                @Html.TextBoxFor(m => m.Email, new { Class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger col-xs-7" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label for="exampleInputEmail1" class="col-sm-4">Vacation Approver Email</label>
                @Html.TextBoxFor(m => m.VacationApproverEmail, new { Class = "form-control" })
                @Html.ValidationMessageFor(m => m.VacationApproverEmail, "", new { @class = "text-danger col-xs-7" })
            </div>
        </div>

        <br />

        <div class="row">
            <label for="exampleInputEmail1" class="col-sm-12">Pick a short word (no spaces or special characters) that users will type after timego.com/ tp reach your company login screen.</label>
        </div>

        <div class="row">
            <div class="form-group col-sm-12 single-line">
                <div class="col-sm-5 text-right">
                    http://timego.com/
                    @Html.TextBoxFor(m => m.CompanyURL, new { @class = "form-control" })
                    /
                </div>
            </div>
        </div>
        @Html.ValidationMessageFor(m => m.CompanyURL, "", new { @class = "text-danger col-xs-7" })

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-primary" value="Update Company Options" />
            </div>
        </div>
}
}

        @section scripts{
            <script>
                $(function () {
                    $(".date").datepicker({
                        showOtherMonths: true,
                        selectOtherMonths: true
                    });
                });
            </script>
        }
