@using TimeGo.Web.Mvc.Models;
@using TimeGo;
@model LoginViewModel
@{
    ViewBag.Title = Resource.LogIn;
}

@using (Html.BeginForm("CompanyLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-group mb-0">
                <div class="card p-4">
                    <div class="card-block">
                        <h1>@Resource.LogIn to @ViewBag.CompanyName</h1>
                        <p class="text-muted">@Resource.SignInToYourAccount</p>
                        <div class="input-group mb-3">
                            <span class="input-group-addon">
                                <i class="icon-user"></i>
                            </span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = Resource.Email })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "" })
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-addon">
                                <i class="icon-lock"></i>
                            </span>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Resource.Password })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "" })
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <input type="submit" value="@Resource.LogIn" class="btn btn-primary px-4" />
                            </div>
                            <div class="col-6 text-right">
                                @Html.ActionLink(Resource.ForgotPass, "ForgotPassword", new { @class = "btn btn-link px-0" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-inverse card-primary py-5 d-md-down-none" style="width:44%">
                    <div class="card-block text-center">
                        <div>
                            <input type="button" onclick="location.href='/SignUp';" class ="btn btn-primary active mt-3 button" value="@Resource.SignUp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}