@using TimeGo.Web.Mvc.Models;
@using TimeGo;
@model ResetPasswordViewModel
@{
    ViewBag.Title = Resource.ResetPassword;
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}
@using (Html.BeginForm("ResetPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {role = "form" }))
{
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card-group mb-0">
                <div class="card p-6">
                    <div class="card-block">
                        <h1>@Resource.NewPassword</h1>
                        <div class="input-group mb-4">
                            <span class="input-group-addon">
                                <i class="icon-lock"></i>
                            </span>
                                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Resource.Password })
                                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "tooltiptext tooltiptext-right" })
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-addon">
                                <i class="icon-lock"></i>
                            </span>
                                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Resource.ConfirmPassword })
                                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "tooltiptext tooltiptext-right" })
                        </div>
                        @Html.HiddenFor(m => m.Code)
                        @Html.HiddenFor(m => m.UserId)
                        <button type="submit" class="btn btn-block btn-success">@Resource.NewPassword</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}